@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="ProductsAsList" class="btn">Show products as a list</a>
    <br/>
    <a asp-action="ProductsAsTable" class="btn">Show products as a table</a>
</div>