@using LR8.Models
@{
    ViewData["Title"] = "List of products";
    List<ProductModel> products = @Model;
}

<head>
    <link rel="stylesheet" href="~/css/productsAsList.css" />
</head>

<div class="text-center">
	<h4 class="display-5 mb-4">List of products</h4>
    <ul class="my-list" style="margin-top: 0 !important;">
        @foreach (var product in products)
        {
            //ID. Name – Price$ (CreatedDate)
			<li id="my-li"><b>@product.Id.</b> @product.Name - @product.Price$ (@product.CreatedDate.ToString("G"))</li>
        }
    </ul>
</div>