.btn {
    background-color: #3498db;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    margin-bottom: 0px;
    margin-top: 25px;
}

.btn:hover {
    background-color: #2980b9;
    box-shadow: 0 5px 15px rgba(0, 123, 255, 0.4);
    transform: translateY(-3px);
    color: #FFFACD;
}